.taskEdit {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	& h1 {
		text-align: left;
		font-size: 20px;
		margin-bottom: 20px;
	}

	&__table {
		margin: 0px auto 30px auto;
		padding: 20px 30px;
		background-color: rgb(238, 238, 238);
		border-radius: 10px;
	}

	&__table table {
		margin: 0 auto;
		border-radius: 2px;
		border-collapse: collapse;
		// HEAD STYLE TABLE

		thead {
			text-align: left;
			font-weight: 600;
			font-size: 14px;
		}

		thead tr th {
			padding-bottom: 10px;
			border-bottom: 2px solid black;
		}

		thead tr th:first-child {
			padding-right: 20px;
		}

		thead tr th:last-child {
			text-align: center;
			padding-left: 30px;
		}

		thead::after {
			content: "-";
			display: block;
			line-height: 8px;
			visibility: hidden;
		}

		// END HEAD STYLE

		// BODY STYLE TABLE

		tbody tr {
			padding-top: 7px;
			font-weight: 400;
			font-size: 16px;
		}

		tbody tr td:first-child {
			padding-right: 30px;
		}

		tbody tr td:nth-child(2) {
			padding-right: 30px;
		}

		tbody tr td:last-child {
			padding-left: 30px;
			text-align: center;
		}
	}
}
